doctype html
head
  style.
    a{
      text-decoration : none ;
    }
    ul {
     background-color:grey;
    margin: 10;
    padding: 10;
     text-align:center;
    }
    li {
    display: inline;
   padding: 70px ;
   font-size : 50px;
  
  
    }
ul
  li
    a(href='/') Home
  li
    a(href='contact') Contact
  li
    a(href='about') About

h1 ABOUT    